.tavo-3d-dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
    font-family: system-ui, -apple-system, sans-serif;
}

.dropdown-3d-gate {
    display: none;
}

.dropdown-3d-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    background: #34495e;
    color: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-3d-arrow {
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-3d-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
    pointer-events: none;
    perspective: 1000px;
}

.dropdown-3d-list li {
    position: relative;
    width: 100%;
    margin-bottom: 4px;
    transform-style: preserve-3d;
    transform-origin: top center;

    transform: rotateX(-90deg) scaleY(0);
    opacity: 0;

    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease;
    transition-delay: calc((4 - var(--i)) * 0.06s);
}

.dropdown-3d-item {
    display: block;
    padding: 12px 20px;
    background: #53779c;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
    border-bottom: 2px solid #1a252f;
    transition: background 0.2s, transform 0.2s;
}

.dropdown-3d-item:hover {
    background: #1abc9c;
    color: white;
    transform: translateZ(10px);
    border-bottom-color: rgb(114, 190, 225);
}

.dropdown-3d-gate:checked~.dropdown-3d-btn .dropdown-3d-arrow {
    transform: rotate(180deg);
}

.dropdown-3d-gate:checked~.dropdown-3d-list {
    pointer-events: auto;
}

.dropdown-3d-gate:checked~.dropdown-3d-list li {
    opacity: 1;
    transform: rotateX(0deg) scaleY(1);
    transition-delay: calc(var(--i) * 0.08s);
}