.base-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.base-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9e6e6;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
}

.switch-slider::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);

}

.base-switch input:checked+.switch-slider {
    background-color: #4CAF50;
    border-radius: 15px;

}

.base-switch input:checked+.switch-slider::before {
    transform: translateX(30px);
}